@font-face {
    font-family: "Palanquin";
    src: url(./assets/font/Palanquin-Regular.ttf);
}

h1{
    font-size: 100px;
    font-weight: bold;
    color: #ffe658;
    filter: drop-shadow( 5px 8px 0 #0a86d3);
}

.title{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    margin-left: 32px;
}

.title-img{
    width: 124px;
}

.header-container{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-suggestion-active{
    border-bottom-left-radius: 0;
}

.suggestion-text{
    color: rgb(203, 203, 203);
}

.suggestion-text:hover{
    color: rgb(255, 255, 255);
}

.search-bar-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar-suggestions{
    width: 12px;
    height: 50px;
    background-color: black;
    border-style: none;
    outline: none;
    border-radius: 8px;
    padding: 12px 8px;
    color: white;
}

.suggestions-dialog{
    position: relative;
    width: 168px;
    height: auto;
    background-color: black;
    border-style: none;
    outline: none;
    border-radius: 8px;
    padding: 12px 8px;
    padding-top: 0;
    margin: 0;
    color: white;
}

.search-bar{
    z-index: +1;
    position: absolute;
    top: 54px;
    left: calc(100% - 275px);
    display: flex;
    align-items: start;
    margin-top: 42px;
    margin-right: 32px;
}

.search-bar-btn{
    cursor: pointer;
    background-color: #2AAAF8;
    padding: 0 32px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.search-bar-btn:hover{
    background-color: #2cd1ff;
}

.search-bar-icon{
    height: 26px;
    padding: 6px 16px
}

.evolution-chain-img{
    position: absolute;
    top: 48px;
    left: 0;
}

.main-container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.pokemon-card{
    width: 244px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    margin: 24px 16px;
    background-color: #ffffff00;
    border-radius: 16px;
    border-style: solid;
    border-width: 8px;
    border-color: #FFE658;
    filter: drop-shadow(8px 12px 4px #2a232b60);
}

.pokemon-card:hover{
    filter: drop-shadow(0 0 16px #ffffff);
}

.pokemon-header{
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding-left: 16px;
    background-image: linear-gradient(to bottom, #ffffff, rgb(195, 195, 195), rgb(209, 209, 209));
    border-radius: 100px;
    filter: drop-shadow(2px 3px 1px #2a232b60);
}

.pokemon-canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-image: url(./assets/img/icon_p-ball.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.pokemon-img{
    height: 90%;   
}

.pokemon-type{
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
    margin: 0;
}

.btn-a{
    width: 244px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: rgb(103, 103, 103);
}

.btn-a:hover{
    background-image: linear-gradient(to bottom, #ededed, rgb(177, 177, 177), rgb(190, 190, 190));
}

.hidden{
    display: none;
}



