@font-face {
    font-family: "Palanquin";
    src: url(./assets/font/Palanquin-Regular.ttf);
}

html{
    font-family: "Palanquin";
    font-size: 16px;
}

header{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DB082D;
    filter: drop-shadow(0 4px 2px rgba(55, 3, 58, 0.671));;
}

.title{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    margin-left: 32px;
}

h1{
    font-size: 100px;
    font-weight: bold;
    color: #ffe658;
    filter: drop-shadow( 5px 8px 0 #0a86d3);
}

.title-img{
    width: 124px;
}

.header-container{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    background-color: black;
    border-style: none;
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 12px 8px;
    color: white;
}

.input-suggestion-active{
    border-bottom-left-radius: 0;
}

.suggestion-text{
    color: rgb(203, 203, 203);
}

.suggestion-text:hover{
    color: rgb(255, 255, 255);
}

.search-bar-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar-suggestions{
    width: 12px;
    height: 50px;
    background-color: black;
    border-style: none;
    outline: none;
    border-radius: 8px;
    padding: 12px 8px;
    color: white;
}

.suggestions-dialog{
    position: relative;
    width: 168px;
    height: auto;
    background-color: black;
    border-style: none;
    outline: none;
    border-radius: 8px;
    padding: 12px 8px;
    padding-top: 0;
    margin: 0;
    color: white;
}

.search-bar{
    z-index: +1;
    position: absolute;
    top: 54px;
    left: calc(100% - 275px);
    display: flex;
    align-items: start;
    margin-top: 42px;
    margin-right: 32px;
}

@media(min-width: 1441px){
    .search-bar{
        left: calc(50% + 420px);
    }
}

.search-bar-btn{
    cursor: pointer;
    background-color: #2AAAF8;
    padding: 0 32px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.search-bar-btn:hover{
    background-color: #2cd1ff;
}

.search-bar-icon{
    height: 26px;
    padding: 6px 16px
}

.evolution-chain-img{
    position: absolute;
    top: 48px;
    left: 0;
}

body{
    margin: 0;
    background-color: #2AAAF8;
}

main{
    flex: 1;
    margin: 64px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.main-container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.pokemon-card{
    width: 244px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    margin: 24px 16px;
    background-color: #ffffff00;
    border-radius: 16px;
    border-style: solid;
    border-width: 8px;
    border-color: #FFE658;
    filter: drop-shadow(8px 12px 4px #2a232b60);
}

.pokemon-card:hover{
    filter: drop-shadow(0 0 16px #ffffff);
}

.pokemon-header{
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding-left: 16px;
    background-image: linear-gradient(to bottom, #ffffff, rgb(195, 195, 195), rgb(209, 209, 209));
    border-radius: 100px;
    filter: drop-shadow(2px 3px 1px #2a232b60);
}

h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

p{
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.pokemon-canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-image: url(./assets/img/icon_p-ball.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.pokemon-img{
    height: 90%;   
}

.pokemon-type{
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
    margin: 0;
}

.btn-a{
    width: 244px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: rgb(103, 103, 103);
}

.btn-a:hover{
    background-image: linear-gradient(to bottom, #ededed, rgb(177, 177, 177), rgb(190, 190, 190));
}

.hidden{
    display: none;
}

footer{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DB082D;
    filter: drop-shadow(0 -4px 2px rgba(55, 3, 58, 0.671));;
}

dialog{
    border: none;
    outline-style: none;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

dialog::backdrop{
    background-color: black;
    opacity: 0.66;
}

.scroll-stopper{
    overflow-y: hidden;
}

.loading-icon {
    opacity: 50%;
    background-image: url(./assets/img/icon_p-ball.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 320px;
    height: 320px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pokemon-detail-viewer{
    width: 460px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    margin: 24px 16px;
    background-color: #ffffff00;
    border-radius: 16px;
    border-style: solid;
    border-width: 8px;
    border-color: #FFE658;
    filter: drop-shadow(8px 12px 4px #2a232b60);
}

.detail-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
}

.detail-img{
    width: 400px;
}

.evo-chain-img{
    width: 140px;
}

.detail-viewer-canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    object-fit: cover;
    background-image: url(./assets/img/icon_p-ball.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.detail-viewer-types{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.detail-viewer-info-box{
    width: 100%;
    height: 320px;
}

.detail-viewer-icon{
    width: 48px;
    position: absolute;
    top: 260px;
    left: 400px;
    cursor: pointer;
}

.detail-viewer-icon:hover{
    filter: drop-shadow(0 0 16px #ffffff);
}

.detail-viewer-container{
    display: flex;
    align-items: center;
}

.clickable{
    cursor: pointer;
}

.on-hover:hover{
    font-weight: bold;
}

.flip-img{
transform: scaleX(-1);
}

.detail-viewer-info-selection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 16px;
    background-image: linear-gradient(to bottom, #ffffff, rgb(195, 195, 195), rgb(209, 209, 209));
    border-radius: 100px;
    filter: drop-shadow(2px 3px 1px #2a232b60);
    a{
        font-size: 16px;
        cursor: pointer;
    }
    a:hover{
        font-weight: bold;
    }
    p{
        font-size: 16px;
    }
}

.text-bold{
    font-weight: bold;
}

.stats-window{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.stat-bar{
    max-width: 396px;
    height: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-transform: capitalize;
    gap: 16px;
    padding: 4px 16px;
    margin-right: 16px;
    margin-top: 16px;
    border-radius: 100px;
    border: 2px solid rgba(0, 0, 0, 0.541);
}

.stat-bar-max{
    width: 425px;
    height: 28px;
    margin-left: 16px;
    margin-top: 16px;
    border-radius: 100px;
    display: flex;
    justify-content: start;
    align-items: end;
    background-color: #00000064;
}

.stat-title{
    font-size: 16px;
}

.stat-high{
    background-color: #16db08;
}

.stat-mid{
    background-color: #dbc908;
}

.stat-low{
    background-color: #DB082D;
}

.attribute-box{
    width: 425px;
    height: 240px;
    margin: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-image: linear-gradient(to bottom, #eaeaea, rgb(214, 214, 214), rgb(222, 222, 222));
    outline: solid rgba(0, 0, 0, 0.325) 2px;
    p{
        padding-inline: 16px;
        padding-top: 16px;
        padding-bottom: 8px;
    }
    span{
        font-size: 16px;
        padding: 16px;
    }
}

.error-message-text{
    font-size: 42px;
    font-weight: bold;
    color: white;
}

.error-message-dialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
