.bg-fire{
    background-image: linear-gradient(to bottom, #ff6f0f, rgb(255, 187, 0));
}

.placeholder{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #ff5100;
}


.bg-water{
    background-image: linear-gradient(to bottom, #e3652a, yellow);
}
.bg-grass{
    background-image: linear-gradient(to bottom, #e3652a, yellow);
}